
.c {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}


/* titles distance */

$distance: 12%;

/*fonts */

$roboto: 'Roboto', sans-serif;
$open: 'Open Sans', sans-serif;
$slackey: 'Amatic SC', cursive;

/* sprite */

.sprite {
  background: transparent url('../img/sprite.png');
}

/* transitions */

.t {
	-webkit-transition: 0.2s ease-in;  
	-moz-transition: 0.2s ease-in;  
	-o-transition: 0.2s ease-in;  
	transition: 0.2s ease-in;
}                          

/* borders */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}   
                  
.rad { 
	@include border-radius(4px); 
}

.circle { 
	@include border-radius(100%); 
}

/* colors */

$first: #222; /* black text */
$ember: #d73624; /* orange */
$second: #aa4b3b; /* dark orange */
$gris: #888; /* text second */

/* animation css3 up */

.up {
	animation: ratata ease 1.3s both;
	-webkit-animation: ratata ease 1.3s both;                             
  -moz-animation: ratata ease 1.3s both;                  
  -o-animation: ratata ease 1.3s both;   
}

@keyframes ratata  {
	0% { opacity: 0; transform: translateY(1000px); }
	40% { opacity: 1; transform: translateY(-30px); }
  60% { transform: translateY(30px); }
	80% { transform: translateY(-20px); }
	100% { transform: translateY(0); }
}

@-webkit-keyframes ratata  {
	0% { opacity: 0; transform: translateY(1000px); }
	40% { opacity: 1; transform: translateY(-30px); }
  60% { transform: translateY(30px); }
	80% { transform: translateY(-20px); }
	100% { transform: translateY(0); }
}

/* animation css3 opacity */


.hello {
	animation: plas ease 1.3s both;
	-webkit-animation: plas ease 1.3s both;                             
  -moz-animation: plas ease 1.3s both;                  
  -o-animation: plas ease 1.3s both;   
}

@keyframes plas  {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes plas  {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/* button */

.btn {
  color: $ember;
  text-transform: uppercase;
  font-family: $roboto;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.8em;
  border: 2px solid $ember;
  padding: 10px 20px;
  @extend .rad;
}