
.c {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}


/* titles distance */

$distance: 15%;

/*fonts */

$roboto: 'Roboto', sans-serif;
$open: 'Open Sans', sans-serif;

/* sprite */

.sprite {
  background: transparent url('../img/sprite.png');
}

/* transitions */

.t {
	-webkit-transition: 0.2s ease-in;  
	-moz-transition: 0.2s ease-in;  
	-o-transition: 0.2s ease-in;  
	transition: 0.2s ease-in;
}                          

/* borders */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}   
                  
.rad { 
	@include border-radius(3px); 
}

.circle { 
	@include border-radius(100%); 
}

/* colors */

$first: #222; /* black text */
$ember: #e14a30; /* orange */
$second: #aa4b3b; /* dark orange */
$gris: #666; /* text second */

/* animation css3 */

.flash {
	animation: ratata ease 1.5s both;
	-webkit-animation: ratata ease 1.5s both;                             
  -moz-animation: ratata ease 1.5s both;                  
  -o-animation: ratata ease 1.5s both;   
}

@keyframes ratata  {
	0% { opacity: 0; transform: translateY(1000px); }
	40% { opacity: 1; transform: translateY(-30px); }
  60% { transform: translateY(20px); }
	80% { transform: translateY(-10px); }
	100% { transform: translateY(0); }
}

@-webkit-keyframes ratata  {
	0% { opacity: 0; transform: translateY(1000px); }
	40% { opacity: 1; transform: translateY(-30px); }
  60% { transform: translateY(20px); }
	80% { transform: translateY(-10px); }
	100% { transform: translateY(0); }
}