/* pwd by codecantor */

html, body {
  height: 100%;
}

section, article, header, aside, footer {
	display: block;
}

ul, ol {
	list-style-type: none;
}
             
*:focus {
  outline: none;
}

* {
	margin: 0;
	padding: 0;       
}               

a {
  img {
    border: 0;
  }
}