<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Ember Madrid - La comunidad de usuarios de Ember.js en Madrid</title>
	<meta name="author" content="codecantor">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<!-- no google ¡delete! -->
	<meta name="robots" content="noindex">
	<!-- format scss -->
	<link rel="stylesheet" href="{{assetPath "css/style.css"}}">
	<!-- webfont google -->
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,100|Open+Sans:400,600|Amatic+SC' rel='stylesheet' type='text/css'>
	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5PTDZW"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-5PTDZW');</script>
	<!-- End Google Tag Manager -->
</head>
<body>
	<aside class="popup-message">
		<section>
			<div class="icon-detail icon-ok">
			</div>
			<h4>
				¡Muchas gracias!
			</h4>
			<p>
				Recibirás un correo confirmando tu asistencia al evento (puede tardar 2 o 3 días).
			</p>
		</seciton>
	</aside>
	<!-- fin message ok -->
	<aside class="popup-message">
		<section>
			<div class="icon-detail icon-error">
			</div>
			<h4>
				Algo ha fallado
			</h4>
			<p>
				Añadir mensaje (enrique).
			</p>
		</seciton>
	</aside>
	<!-- fin message error -->
	<header>
		<nav>
			<ul>
				<li>
					<a href="#welcome">
						Inicio
					</a>
				</li>
				<li>
					<a href="#now">
						Próxima edición
					</a>
				</li>
				<li>
					<a href="#past">
						Ediciones anteriores
					</a>
				</li>
				<li>
					<a href="#about">
						Sobre nosotros
					</a>
				</li>
				<li>
					<a href="#contact">
						Contacto
					</a>
				</li>
			</ul>
		</nav>
	</header>
	<article id="welcome" class="welcome">
		<div class="title">
			<a href="#" class="embermad">
				Ember Madrid Logo
			</a>
			<h1>
				Bienvenido/a a <b>Ember Madrid</b>, la comunidad de desarrolladores de Ember.js en Madrid
			</h1>
		</div>
		<p class="readmore">
			<a href="#now">
				¡Curso de Ember el 26 de junio!
			</a>
		</p>
	</article>
	<article id="now" class="now">
		<div class="meetup">
			<div class="icon_met" style="display: none;">
				Meetup
			</div><!-- iconmet -->
			<h2>
				<span>
					Curso de Ember.js
				</span>
				Crea tu primera aplicación CRUD
			</h2>
			<p class="plazas-limitadas">
				Plazas limitadas
			</p>
			<p>
				Si eres desarrollador/a y quieres iniciarte en el mundo de Ember.js, el curso es ideal para  conocer el potencial de este framework de javascript.
			</p>
			<div class="two-content">
				<div class="two-content-box">
					<h3>
						¿Dónde?
					</h3>
					<p>
						<b>Kunlabori</b> Calle Eduardo Vicente, 7, 28028 Madrid (España)
					</p>
				</div>
				<div class="two-content-box">

					<h3>
						¿Cuándo?
					</h3>
					<p>
						Día: Viernes 26 de junio de 2015
					</p>
					<p>
						Hora: 17:30 - 20:30h
					</p>
				</div>
			</div><!-- two coloumns -->
			<p class="pay-stripe">
				<button disabled>
					Proximamente
					<s>Comprar 5€ / entrada</s>
				</button>
				<div class="text-stripe">
					<p>
						<span class="icon-security">
							Compra segura
						</span>
						Compra segura gracias a stripe
					</p>
				</div>
				<div class="stripe-partner">
					<a href="https://stripe.com" target="_blank">
						<img src="{{assetPath "img/stripe.png"}}">
					</a>
				</div>
			</p>
		</div><!-- metup -->
	</article>
	<article id="past" class="past">
		<div class="events">
			<h2>
				Ediciones anteriores
			</h2>
			<p class="subtitle">
				2015
			</p>
			<div class="slide">
				<section>
					<h4>
						Febrero
						<span>
							#01
						</span>
					</h4>
					<h5>
						Bienvenido a Ember.js
					</h5>
					<p>
						La primera charla pretende ofrecer un vistazo general al framework: su historia, su filosofía, su arquitectura, su comunidad y los recursos de los que disponemos los embereños.
					</p>
					<p>
						También tendremos alguna sorpresa más.
					</p>
					<p>
						<a href="https://speakerdeck.com/serabe/bienvenidos-a-ember-madrid" target="_blank" class="more">
							<span>Ver</span> presentación
						</a>
					</p>
					<div class="footer_detail">
						<div class="disk">
							<div class="minidisk">
								Minidisk
							</div><!-- minidisk -->
						</div><!-- disk -->
					</div><!-- footer_detail -->
				</section>
				<section>
					<h4>
						Mayo
						<span>
							#02
						</span>
					</h4>
					<h5>
						Introducción a componentes
					</h5>
					<p>
						En esta edición explicamos  <b>cómo crear un componente Ember.js</b> (un compomenten es una librería reutilizable de código), ideal para empezar nuestro primer proyecto con Ember.
					</p>
					<p>
						<a href="https://speakerdeck.com/enriqueaf/introduction-to-components-in-emberjs" target="_blank" class="more">
							<span>Ver</span> presentación
						</a>
					</p>
					<div class="footer_detail">
						<div class="disk">
							<div class="minidisk">
								Minidisk
							</div><!-- minidisk -->
						</div><!-- disk -->
					</div><!-- footer_detail -->
				</section>
			</div><!-- slide -->
		</div><!-- events -->
	</article><!-- past -->
	<article id="about" class="about">
		<section>
			<h2>
				¿Quiénes somos?
			</h2>
			<p>
				Somos <b>la comunidad de Ember.js en Madrid</b>, un espacio para dar a conocer el potencial de este framework de javascript. La iniciativa surge a finales de 2014 impulsada por dos empresas inmersas en la comunidad de desarrollo: <a href="http://www.wearepeople.io/" target="_blank">We are People</a> y <a href="http://codecantor.com" target="_blank" >codecantor</a>
			</p>
		</section>
		<section>
			<a href="http://www.wearepeople.io/" target="_blank" class="people">
				we are people
			</a>
			<a href="http://codecantor.com" target="_blank" class="codecantor">
				codecantor
			</a>
		</section>
		<section>
			<h3>
				¿Cuándo?, ¿dónde?
			</h3>
			<p>
				Nuestro marco de trabajo se centra en Madrid, las primeras ediciones se han celebrado gracias al espacio de <em>coworking</em> Kunlabori (Av. de América), y cada mes anunciamos una nueva iniciativa que pude celebrarse en diferentes espacios de la zona centro de Madrid.
			</p>
		</section>
		<section>
			<h3>
				¿Cómo me apunto?
			</h3>
			<p>
				¡Cualquier persona puede asistir!, solo necesitas avisarnos desde <a href="http://www.meetup.com/es/Ember-js-Madrid/" target="_blank">nuestra cuenta de metup</a> para apuntarte.
			</p>
		</section>
	</article><!-- about -->
	<footer id="contact">
		<div class="grid-footer">
			<section>
				<h3>
					Contacto
				</h3>
				<p>
					Si deseas impartir una charla, ofrecernos espacio o patrocinar nuestro evento puedes escribirnos a <a href="mailto:hello@embermadrid.com" target="_blank">hello@embermadrid.com</a> o un tweet a <a href="http://twitter.com/embermadrid" target="_blank">@embermadrid</a>.
				</p>
			</section>
			<section>
				<h3>
					Enlaces
				</h3>
				<ul>
					<li>
						<a href="http://twitter.com/embermadrid" target="_blank">Follow twitter</a>
					</li>
					<li>
						<a href="http://www.meetup.com/es/Ember-js-Madrid/" target="_blank">Meetup</a>
					</li>
					<li>
						<a href="mailto:hello@embermadrid.com" target="_blank">hello@embermadrid.com</a>
					</li>
				</ul>
			</section>
		</div><!-- grid footer -->
		<div class="credits">
			<p>
				Ember Madrid @ 2015
			</p>
			<p>
				Diseñado con cariño por <a href="http://codecantor.com" target="_blank">codecantor</a> gracias a <a href="http://gulpjs.com/" target="_blank">Gulp.js</a>
			</p>
		</div>
	</footer><!-- final footer -->
	<script src="{{ assetPath "js/vendor.min.js" }}"></script>
	<script src="{{ assetPath "js/app.min.js" }}"></script>
	<script src="https://checkout.stripe.com/checkout.js"></script>
</body>
</html>
